*{
    margin: 0;
    padding: 0;
}

.container{
    /* background-color: black; */
    height: 831px;
    width: 1648px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.layout{
    /* background-color: gray; */
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-areas: "b0 b1 b2 b3"
                         "b4 b5 b6 b7"
                         "b8 b9 b10 b11"
                         "b12 b13 b14 b15"
                         "b16 b17 b18 b19";
                         
    padding: 15px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;

}

.layout img{
    width: 30px;
}

.btn{
    line-height: 100px;
    border-radius: 10px;
    background-color: rgb(233, 231, 231);
    width: 100px;
    height: 100px;
    transition: .3s;
}

.btn:hover{
    font-size: 36px;
    cursor: pointer;
    background-color: transparent;
}


.btn0{
    grid-area: b0;
}

.btn1{
    grid-area: b1;
}

.btn2{
    grid-area: b2;
}

.btn3{
    grid-area: b3;
}

.btn4{
    grid-area: b4;
}

.btn5{
    grid-area: b5;
}

.btn6{
    grid-area: b6;
}

.btn7{
    grid-area: b7;
}

.btn8{
    grid-area: b8;
}

.btn9{
    grid-area: b9;
}

.btn10{
    grid-area: b10;
}

.btn11{
    grid-area: b11;
}

.btn12{
    grid-area: b12;
}

.btn13{
    grid-area: b13;
}

.btn14{
    grid-area: b14;
}

.btn15{
    grid-area: b15;
}

.btn16{
    grid-area: b16;
}

.btn17{
    grid-area: b17;
}

.btn18{
    grid-area: b18;
}

.btn19{
    grid-area: b19;
}
